<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column-filter">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="16"/>
                <entry key="0" type="xstring" value="age_winsorized"/>
                <entry key="1" type="xstring" value="diff_winsorized"/>
                <entry key="2" type="xstring" value="Gender"/>
                <entry key="3" type="xstring" value="Scholarship"/>
                <entry key="4" type="xstring" value="Hipertension"/>
                <entry key="5" type="xstring" value="Diabetes"/>
                <entry key="6" type="xstring" value="Alcoholism"/>
                <entry key="7" type="xstring" value="Handcap"/>
                <entry key="8" type="xstring" value="SMS_received"/>
                <entry key="9" type="xstring" value="No-show"/>
                <entry key="10" type="xstring" value="Is_age_Winsorized"/>
                <entry key="11" type="xstring" value="age_wz"/>
                <entry key="12" type="xstring" value="Hour"/>
                <entry key="13" type="xstring" value="binary_days"/>
                <entry key="14" type="xstring" value="Top 10"/>
                <entry key="15" type="xstring" value="Other"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="22"/>
                <entry key="0" type="xstring" value="Turno"/>
                <entry key="1" type="xstring" value="Tarde"/>
                <entry key="2" type="xstring" value="Manhã"/>
                <entry key="3" type="xstring" value="Noite"/>
                <entry key="4" type="xstring" value="sms_diff"/>
                <entry key="5" type="xstring" value="age_scholar"/>
                <entry key="6" type="xstring" value="sexta-feira"/>
                <entry key="7" type="xstring" value="quarta-feira"/>
                <entry key="8" type="xstring" value="terça-feira"/>
                <entry key="9" type="xstring" value="quinta-feira"/>
                <entry key="10" type="xstring" value="segunda-feira"/>
                <entry key="11" type="xstring" value="sábado"/>
                <entry key="12" type="xstring" value="PatientId"/>
                <entry key="13" type="xstring" value="AppointmentID"/>
                <entry key="14" type="xstring" value="ScheduledDay"/>
                <entry key="15" type="xstring" value="AppointmentDay"/>
                <entry key="16" type="xstring" value="Age"/>
                <entry key="17" type="xstring" value="Neighbourhood"/>
                <entry key="18" type="xstring" value="no_show_binario"/>
                <entry key="19" type="xstring" value="Day of Week (Name)"/>
                <entry key="20" type="xstring" value="app&amp;schedule diff"/>
                <entry key="21" type="xstring" value="Top10_Neighbourhood"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist"/>
            </config>
        </config>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.preproc.filter.column.DataColumnSpecFilterNodeFactory"/>
    <entry key="node-name" type="xstring" value="Column Filter"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.2.v202409100934"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.2.v202409100934"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Filter"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 110521, Cols: 14"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="9367577a-172b-43bb-b7fb-e077f024f164"/>
    </config>
</config>
